body{
  font-family: 'Play', sans-serif;
}

h3{
  font-size: 30px;
}

button {
  font-family: 'Play', sans-serif;
  width: 140px;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: black;
  margin-left: 8px;
}
